

.btn-group-wrapper {
    display: flex;
    justify-content: center;
    margin-top: 30px;
}
.control-btn{
    margin-left: 20px;
}
.select-wrapper-custom {
    display: flex;
    justify-content: center;
}
.select__body-wr {
    margin: 15px;
    width: 100%;
    max-width: 300px;
}
.input-field.input__body-wr {
    width: 300px;
    margin: 0 auto;
}
.dropdown-content li>a, .dropdown-content li>span {
    color: #2196f3;
}
.send-btn-wr{
    text-align: center;
}

.controls-section{
    width: 100%;
    max-width: 700px;
    margin: 0 auto;
    margin-top: 30px;
    padding: 20px;
}

