<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>main</title>
            {% load staticfiles %}

    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/nav.css' %}">
    <link rel="stylesheet" href="{% static 'css/main.css' %}">
    <link rel="stylesheet" href="{% static 'css/materialize.min.css' %}">
</head>

<body>
    <!-- NAVBAR START -->
    <div class="navbar-fixed">
        <nav>
            <div class="vibot-nav grey darken-4 nav-wrapper">
                <a href="#!" class="brand-logo">
                    <span class="blue-text">Vi</span>Bot</a>
                <a href="#" data-target="mobile-demo" class="sidenav-trigger">
                    <i class="material-icons">menu</i>
                </a>
                <ul class="right hide-on-med-and-down">
                    <li>
                        <a href="{% url 'main_app:index' %}">
                            <i class="material-icons left">home</i>MAIN</a>
                    </li>
                    <li>
                        <a href="{% url 'stream_app:stream' %}">
                            <i class="material-icons left">data_usage</i>STREAM</a>
                    </li>
                    <li>
                        <a href="{% url 'account_app:auth_logout' %}">
                            <i class="material-icons left">rowing</i>LOGOUT</a>
                    </li>
                </ul>
            </div>
        </nav>
    </div>
    <ul class="sidenav" id="mobile-demo">
        <li>
            <a href="sass.html">
                <i class="material-icons left">home</i>MAIN</a>
        </li>
        <li>
            <a href="badges.html">
                <i class="material-icons left">data_usage</i>STREAM</a>
        </li>
        <li>
            <a href="badges.html">
                <i class="material-icons left">rowing</i>LOGOUT</a>
        </li>
    </ul>
    <!-- NAVBAR END -->
    <!-- CONTROL BUTTONS START -->
    <div class="btn-group-wrapper">
        <button data-actionBtn="start" class="btn blue waves-effect waves-light" type="submit" name="action">Start
            <i class="material-icons right control-btn">play_arrow </i>
        </button>
        <button data-actionBtn="stop" class="btn red darken-2 waves-effect waves-light control-btn" type="submit" name="action">Stop
            <i class="material-icons right">stop</i>
        </button>
        <button data-actionBtn="pause" class="btn grey darken-1 waves-effect waves-light control-btn" type="submit" name="action">Pause
            <i class="material-icons right">pause_circle_outline</i>
        </button>
    </div>
    <!-- CONTROL BUTTONS END -->
    <!-- UPDATE INUTPS START -->
    <div class="controls-section z-depth-2">
        <h5 class="center-align">Configurations</h5>
        <form class="controls-form">
            <div class="input-field input__body-wr">
                <input id="input_controls1" type="text" class="validate">
                <label for="input_controls1">Min_treshold</label>
            </div>
            <div class="select-wrapper-custom">
                <div class="input-field select__body-wr">
                    <select id="exchanges" multiple>
                        <option value="" disabled selected>Chose your Exchanges</option>
                        <option value="1">Option 1</option>
                        <option value="2">Option 2</option>
                        <option value="3">Option 3</option>
                    </select>
                    <label>Exchanges</label>
                </div>
                <div class="input-field select__body-wr">
                    <select id="pairs" multiple>
                        <option value="" disabled selected>Chose your Pairs</option>
                        <option value="1">Option 1</option>
                        <option value="2">Option 2</option>
                        <option value="3">Option 3</option>
                    </select>
                    <label>Pairs</label>
                </div>
            </div>
            <div class="send-btn-wr">
                <button id="send_btn" class="btn blue waves-effect waves-light center-align" type="submit" name="action">Update config
                </button>
            </div>
        </form>
    </div>
    <!-- UPDATE INUTPS START -->
    <script src="{% static 'js/materialize.min.js' %}"></script>
    <script src="{% static 'js/nav.js' %}"></script>
{#    <script src="{% static 'js/main.js' %}"></script>#}
        <script>
            document.addEventListener('DOMContentLoaded', () => {
  let elems = document.querySelectorAll('select');
  let instances = M.FormSelect.init(elems);
});

checkFormObjectValue = (selector) => {
  let formObject = document.querySelector(`${selector}`);
  let instanceFormObject = M.FormSelect.getInstance(formObject);
  let value = instanceFormObject.getSelectedValues();
  console.log(value)
  return value;
}
checkInputValue = (selector) => {
  let input = document.querySelector(`${selector}`);
  let inputValue = input.value;
  console.log(inputValue)
  return inputValue;
}
sendDataFromControls = (e) => {
  e.preventDefault();
  let gettedExchanges = checkFormObjectValue('#exchanges');
  let gettetPairs = checkFormObjectValue('#pairs');
  let gettedInput = checkInputValue('#input_controls1')
  console.log('gettedExchanges', gettedExchanges)
  console.log('gettetPairs', gettetPairs)
  console.log('gettedInput', gettedInput)
  let bodyToSend = {
    type: 'config',
    data: {
      min_treshold: gettedInput,
      exchanges: gettedExchanges,
      pairs: gettetPairs
    }
  }
  console.log('bodyToSend', JSON.stringify(bodyToSend))
  M.toast({html: 'Config is updating'}) // Its TEMPORARY SOLUTION . NEED TO GO DOWN IN RESPONSE=> TAKE PROPERLY DATA AND DRAW
  fetch('{% url 'main_app:update_config' %}', {
    method: 'post',
    headers: {
      "Content-type": "application/json"
    },
    body: JSON.stringify(bodyToSend)
  })
    .then(json)
    .then(function (data) {
      console.log('Request succeeded with JSON response', data);
      //TOAST NEED HERE
    })
    .catch(function (error) {
      console.log('Request failed', error);
    });


}
buttonsActs = (e) => {
  let target = event.target;
  let action = target.getAttribute('data-actionBtn');
  if (!action) return;
  console.log(action)
  fetch(`{% url 'main_app:index' %}${action}`)
    .then(
      function (response) {
        if (response.status !== 200) {
          console.log('Looks like there was a problem. Status Code: ' +
            response.status);
          return;
        }
        response.json().then(function (data) {
          console.log(data);
        });
      }
    )
    .catch(function (err) {
      console.log('Fetch Error :-S', err);
    });
    M.toast({html: `You pushed the  ${action.toUpperCase()}`})
}

document.getElementById('send_btn').addEventListener('click', sendDataFromControls);
document.addEventListener('click', buttonsActs)
        </script>


</body>

</html>